<mat-card>
    <mat-card-content>
        <mat-card-title>Default Editor</mat-card-title>
        <mat-card-subtitle>quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond
            implementation of ngQuill.

        </mat-card-subtitle>
        <quill-editor [styles]="{height: '450px'}" (onFocus)="focus($event)" (onBlur)="blur($event)"
            (onEditorCreated)=creado($event) (onContentChanged)="cambiar($event)" theme="snow" ([ngModel])="editor">
        </quill-editor>
        <br>
        <p>Leido</p>
        <button (click)="oprimirBoton()">Boton</button>

        <p>El buble</p>
        <quill-editor (onEditorCreated)="creado2($event)" theme="bubble" placeholder="Bubble editor"
            bounds=".mat-drawer-content" [style]="{border: '1px solid #dadada'}"></quill-editor>

    </mat-card-content>
</mat-card>