
      


        <mat-card class="bg-info">
            <div >
            <mat-card-header  >
                <div mat-card-avatar>
                    <img src="assets/images/users/1.jpg" class="img-fluid img-circle" />
                </div>
          
                <mat-card-title class="text-white">GEER</mat-card-title>
                <mat-card-subtitle class="text-white">Administración académica GEER</mat-card-subtitle>
          
                  
            </mat-card-header>
            </div>
          

       
            
            <img mat-card-image src="assets/images/background/examenes.jpg" alt="Photo of a Shiba Inu">       
                <mat-card-content>
                        <!-- column -->
               

                </mat-card-content>
            </mat-card>
