
      


        <mat-card class="bg-info">
            <div >
            <mat-card-header  >
                <div mat-card-avatar>
                    <img src="assets/images/users/1.jpg" class="img-fluid img-circle" />
                </div>
          
                <mat-card-title class="text-white">GEER.</mat-card-title>
                <mat-card-subtitle class="text-white">Administración académica GEER.</mat-card-subtitle>
          
                  
            </mat-card-header>
            </div>
          

       
            
       
                <mat-card-content>
                    <h4 class="text-white">Bienvenido al nuevo sistema de administración.</h4>
                    <h6 class="text-white">Administrador: {{administrador.usuario}}</h6>
                    <div>
                        <button mat-raised-button  (click)="subscribirse()">Subscribir a notificaciones</button>
                    </div>
                    <p class="text-white">Por comodidad se mantendrá abierta su sesión a menos que la cierre con el botón de cerrar sesión.</p>
                    <img mat-card-image src="assets/images/background/examenes.jpg" alt="Photo of a Shiba Inu">    
                        <!-- column -->
               

                </mat-card-content>
            </mat-card>
