<mat-card  *ngIf="mostrarSeleccionarMateria">
	<mat-card-content>
		<mat-card-title class="mb-3">Selecciona una materia</mat-card-title>
		<mat-form-field>
			<mat-select placeholder="Selecciona una materia" [(ngModel)]="materia">
				<mat-option *ngFor="let materia of materias" [value]="materia">
					{{materia}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<!--Bloque-->
		<mat-form-field>
			<mat-select placeholder="Selecciona un bloque" [(ngModel)]="bloque">
				<mat-option *ngFor="let bloquesin of bloqueExamen" [value]="bloquesin">
					{{bloquesin.nombreLargo}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<!--Boton-->
		<button mat-raised-button color="primary" (click)="cargarReactivos(materia, bloque)">Cargar Reactivos</button>
	</mat-card-content>
</mat-card>
<!-- Mostramos el examen respectivo-->

<div fxLayout="row wrap" *ngIf="mostrarPreguntas">
	<!-- Card column -->
	<div fxFlex.gt-sm="100%" fxFlex="100">
		<mat-card>
			<mat-card-content>
				<button  mat-raised-button color="primary" (click)="irAMostrarMateria()" >Regresar </button>
				<br><br>
				<mat-card-title>Preguntas totales: {{preguntas.length}} del examen {{id}}</mat-card-title>
			</mat-card-content>
			<p>Para modificar o editar una pregunta da click en el botón de número, para crear una nueva da click en el botón de Nuevo reactivo</p>
			<mat-tab-group class="demo-tab-group" [selectedIndex]="indiceTab"
				(selectedTabChange)="onTabChanged($event);">
				<!--PRIMR TAB DEL LISTADO DE TODOS LOS PROFESORES-->
				<!-- ----------------------------------------------------------------------------------------------->
				<!-------------------------------------------------------------------------------------------------->
				<mat-tab label="Preguntas">
					<div class="demo-tab-content text-center">
						<!-- AQUI VA EL LISTADO DE TODOS LOS PROFESORES DADOS DE ALTA-->
						<!--EMPIEZA TABLA E MOSTRADO DE TODOS LOS PROFESORES-->
						<button  mat-raised-button color="primary" (click)="nuevoReactivo()" >Nuevo reactivo</button>
						
						<p>Preguntas del examen seleccionado {{id}}
						</p>
						<mat-form-field>
							<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
						</mat-form-field>
						<div class="responsive-table">
							<mat-table #table [dataSource]="dataSource" matSort>


								<!-- Position Column -->
								<ng-container matColumnDef="numero">
									<mat-header-cell *matHeaderCellDef mat-sort-header> Núm. </mat-header-cell>
									<mat-cell *matCellDef="let pregunta">

										<button mat-button class="fondo" (click)="modificar(pregunta.numero)">
											<mat-icon>create</mat-icon>
											{{pregunta.numero}}
										</button>


									</mat-cell>
								</ng-container>

								<!-- Position Column -->
								<ng-container matColumnDef="titulo">
									<mat-header-cell *matHeaderCellDef mat-sort-header> Título. </mat-header-cell>
									<mat-cell *matCellDef="let pregunta">
										<!--
                      <button mat-button class="fondo" (click)="modificar(pregunta.titulo)">
                        <mat-icon>person</mat-icon>
                         {{pregunta.titulo}}
                      </button>
                   
					-->
										<div class="arreglar">
											<br>
											{{pregunta.titulo}}
											<br><span [ngClass]="pregunta.opciones[0].acierto ? 'buena':'mala'" >a) {{pregunta.opciones[0].titulo}}</span>
											<br><span [ngClass]="pregunta.opciones[1].acierto ? 'buena':'mala'">b) {{pregunta.opciones[1].titulo}}</span>
											<br><span [ngClass]="pregunta.opciones[2].acierto ? 'buena':'mala'">c) {{pregunta.opciones[2].titulo}}</span>
											<br><span [ngClass]="pregunta.opciones[3].acierto ? 'buena':'mala'">d) {{pregunta.opciones[3].titulo}}</span>
										</div>
									</mat-cell>
								</ng-container>

								<!-- Name Column 
                  <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef   mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let profesor">
                 
                        {{profesor.nombre}} {{profesor.paterno}} {{profesor.materno}}
                    </mat-cell>
                  </ng-container>
				-->

								<!-- Symbol Column -->


								<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
								<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
							</mat-table>
							<mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
						</div>

					</div>
				</mat-tab>
				<!-- TERMINA TAB DE TODOS LOS PROFSORES------------------------------------------------------->
				<mat-tab label="Modificar" disabled>

					<div class="demo-tab-content" *ngIf="mostrarFormulario">
						<!--INICIA ALTA PREOFESORES-->
						<!--*************************************************************************************-->
						<div>
							<div fxLayout="row wrap">
								<div fxFlex.gt-sm="100" fxFlex="100">
									<mat-card>
										<mat-card-content>
											<mat-card-title></mat-card-title>
								<p>Escribe  el titulo de la pregunta y las opciones, selecciona en el boton de radio de cada opcion la que corresponda a la opción correcta.</p>
											<!-- ============================================================== -->
											<!-- column -->
											<!-- ============================================================== -->
											<form [formGroup]="form">
												<mat-radio-group name="selectedValue"   [formControl]="form.controls['selectedValue']"  [(ngModel)]="selectedValue" >
												<div fxLayout="row wrap">
													<div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
														<mat-form-field>
															<input matInput placeholder="Número"
																[formControl]="form.controls['numero']" name="numero"
																[(ngModel)]="preguntaActual.numero" readonly>
														</mat-form-field>
														<mat-hint
															*ngIf="form.controls['numero'].hasError('required') && form.controls['numero'].touched"
															class="text-danger font-14">
														 </mat-hint>

									
													</div>
												</div>

												<div fxLayout="row wrap">
													<div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
														<mat-form-field>
															<textarea matInput placeholder="Título"
															cdkTextareaAutosize
															#autosize="cdkTextareaAutosize"
															cdkAutosizeMinRows="2"
            												cdkAutosizeMaxRows="12"
																[formControl]="form.controls['titulo']" name="titulo"
																[(ngModel)]="preguntaActual.titulo"></textarea>
														</mat-form-field>
														<mat-hint
															*ngIf="form.controls['titulo'].hasError('required') && form.controls['titulo'].touched"
															class="text-danger font-14">Debe escribir el título de la
															pregunta </mat-hint>

									
													</div>
												</div>

													<div fxLayout="row wrap">
														<div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100"
															fxFlex="100">
															<mat-radio-button [(value)]="preguntaActual.opciones[0].titulo"  [(checked)]="preguntaActual.opciones[0].acierto" >Es correcta</mat-radio-button>
															<mat-form-field>
																<textarea matInput placeholder="Opción 1"
																	[formControl]="form.controls['opcion1']"
																	name="opcion1"
																	[(ngModel)]="preguntaActual.opciones[0].titulo"></textarea>
															</mat-form-field>
															<mat-hint
																*ngIf="form.controls['opcion1'].hasError('required') && form.controls['opcion1'].touched"
																class="text-danger font-14">Debe escribir la opción
															</mat-hint>

														</div>


													</div>
													<div fxLayout="row wrap">
														<div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100"
															fxFlex="100">
															<mat-radio-button [(value)]="preguntaActual.opciones[1].titulo" [(checked)]="preguntaActual.opciones[1].acierto">Es correcta</mat-radio-button>
															<mat-form-field>
																<textarea matInput placeholder="Opción 2"
																	[formControl]="form.controls['opcion2']"
																	name="opcion1"
																	[(ngModel)]="preguntaActual.opciones[1].titulo"></textarea>
															</mat-form-field>
															<mat-hint
																*ngIf="form.controls['opcion2'].hasError('required') && form.controls['opcion2'].touched"
																class="text-danger font-14">Debe escribir la opción
															</mat-hint>

														</div>


													</div>
													<div fxLayout="row wrap">
														<div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100"
															fxFlex="100">
															<mat-radio-button [(value)]="preguntaActual.opciones[2].titulo" [(checked)]="preguntaActual.opciones[2].acierto">Es correcta</mat-radio-button>
															<mat-form-field>
																<textarea matInput placeholder="Opción 3"
																	[formControl]="form.controls['opcion3']"
																	name="opcion3"
																	[(ngModel)]="preguntaActual.opciones[2].titulo"></textarea>
															</mat-form-field>
															<mat-hint
																*ngIf="form.controls['opcion3'].hasError('required') && form.controls['opcion3'].touched"
																class="text-danger font-14">Debe escribir la opción
															</mat-hint>

														</div>


													</div>
													<div fxLayout="row wrap">
														<div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100"
															fxFlex="100">
															<mat-radio-button [(value)]="preguntaActual.opciones[3].titulo" [(checked)]="preguntaActual.opciones[3].acierto">Es correcta</mat-radio-button>
															<mat-form-field>
																<textarea matInput placeholder="Opción 4"
																	[formControl]="form.controls['opcion4']"
																	name="opcion4"
																	[(ngModel)]="preguntaActual.opciones[3].titulo"></textarea>
															</mat-form-field>
															<mat-hint
																*ngIf="form.controls['opcion4'].hasError('required') && form.controls['opcion4'].touched"
																class="text-danger font-14">Debe escribir la opción
															</mat-hint>

														</div>


													</div>

													<mat-card-actions>
														<button mat-raised-button color="primary"
															(click)="actualizarReactivo()" type="submit"
															[disabled]="!form.valid">Actualizar</button>
													</mat-card-actions>
												</mat-radio-group>
											</form>
										</mat-card-content>
									</mat-card>
								</div>
							</div>

						</div>
						<!--TERMINA ALTA PROFESORES-->
						<!--***************************************************************************************-->

					</div>
				</mat-tab>
				<!--TERMINA TAB DE ALTA DE PROFESORE--------------------------------------------------------------->
				<!----------------------------------------------------------------------------------------------->




			</mat-tab-group>
		</mat-card>
	</div>
</div>