<mat-card>
    <mat-card-content>
        <mat-card-title class="mb-3">Examenes con lectura.</mat-card-title>
        <h3>Nota: Esta página aun esta en construcción es solo un prototipo no terminado</h3>

<!--------------------------------------------------------------------------------------------->        
<!-- aQUI DEBE DE INICIAR SELECCION DE MATERIA Y BLOQUE SI EXISTE UNA MATERIA O NO-->

<p>Introduzca los datos generales de la materia, posteriormente la lectura y al final las
                            preguntas.
                            Puede agregar varias preguntas y para guardar oprima el botón finalizar. Posteriormente,
                            después de finalizar puede agregar mas
                            preguntas si así lo desea. </p>

                <div fxLayout="row wrap">
                        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <mat-form-field>
                                <mat-select placeholder="Selecciona una materia" [(ngModel)]="materia">
                                    <mat-option *ngFor="let materia of materias" [value]="materia">
                                        {{materia}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!--Bloque-->
                        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <mat-form-field>
                                <mat-select placeholder="Selecciona un bloque" [(ngModel)]="bloque">
                                    <mat-option *ngFor="let bloquesin of bloqueExamen" [value]="bloquesin">
                                        {{bloquesin.nombreLargo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <button mat-raised-button color="primary" (click)="cargarReactivos(materia, bloque)">Cargar Lecturas</button>

                 </div>
                       
<!--tERMINA SELECION DE MATERIA Y BLOQUE-->
        <mat-tab-group class="demo-tab-group" [selectedIndex]="indiceTab" (selectedTabChange)="onTabChanged($event);"  *ngIf="idValido">

            <!--INICIA TAB DE MOSTRAR CONJUNTOS-->
            <!------------------------------------------------------------------------------------------------------->
            <mat-tab label="Lecturas">
                <div class="demo-tab-content text-center">
                 
                  
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                    </mat-form-field>
                    <div class="responsive-table">
                        <mat-table #table [dataSource]="dataSource" matSort>


                            <!-- Position Column -->
                            <ng-container matColumnDef="numero">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Número de preguntas</mat-header-cell>
                                <mat-cell *matCellDef="let conjunto; let i = index;">

                                    <button mat-button class="fondo" (click)="modificar(conjunto, i)">
                                        <mat-icon>create</mat-icon>
                                        {{conjunto.preguntas.length}}
                                    </button>
                                    <button mat-button class="fondo" (click)="borrar(conjunto, i)">
                                        <mat-icon>delete</mat-icon>
                                        Borrar
                                    </button>


                                </mat-cell>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="titulo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Título de la lectura </mat-header-cell>
                                <mat-cell *matCellDef="let conjunto">
                                        {{conjunto.titulo}}           
                                </mat-cell>
                            </ng-container>

    
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                    </div>

                </div>
            </mat-tab>
            <!------------------------------------------------------------------------------------------------------->
            <!--Inicia tab de Nueva Lectura----------------------------------------------------------------------------->
            <mat-tab label="Nueva lectura"  >
                <div class="demo-tab-content">
                    <div fxLayout="row wrap">

                        <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <p><strong>1. </strong>Introduza el título de su lectura</p>
                            <mat-form-field>
                                <input matInput placeholder="Escriba aquí el título de la lectura" name="numero" [(ngModel)]="tituloLectura">
                            </mat-form-field>
                        </div>
                        
                        <p><strong>2. </strong>A continuacion introduzca la lectura, puede copiar y pegar texto desde microsoft word,
                            las imágenes se insertan desde un archivo en formato png o jpg.
                        </p>
                        <quill-editor [styles]="{height: '450px'}" (onFocus)="focus($event)" (onBlur)="blur($event)"
                            (onEditorCreated)=creado($event) (onContentChanged)="cambiar($event)" theme="snow"
                            ([ngModel])="editor">
                        </quill-editor>

                        <!---INICIA LA SECCION DE PREGUNTAS----------------------------------------------------------------------->
                        <!--Inicia la session de preguntas------------------------------------------------------------------------->
                        <form class="basic-form" [formGroup]="form">
                            <div fxLayout="row wrap">





                                <div fxFlex.gt-md="100" fxFlex="100">
                                    <!--El puto titulo-->
                                    <p><strong>3. </strong>Introduzca sus preguntas.</p>
                                    <mat-form-field>
                                        <textarea matInput placeholder="Escribir el texto de la pregunta"
                                            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                                            cdkAutosizeMaxRows="12" [formControl]="form.controls['titulo']"
                                            name="titulo" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100"></textarea>
                                    </mat-form-field>
                                    <mat-hint
                                        *ngIf="form.controls['titulo'].hasError('required') && form.controls['titulo'].touched"
                                        class="text-danger font-14">Debe escribir el texto de la
                                        pregunta </mat-hint>
                                </div>
                                <!--Termina el puto titulo-->

                                <mat-radio-group name="selectedValue" [formControl]="form.controls['selectedValue']"
                                    [(ngModel)]="indiceSeleccionado">
                                 
                                    <mat-radio-button [value]="radios[0].indice"  >Es correcta</mat-radio-button>
                               
                                        <mat-form-field>
                                            <textarea matInput placeholder="Opción 1"
                                                [formControl]="form.controls['opcion1']" name="opcion1"></textarea>
                                        </mat-form-field>
                                  
                                    <mat-hint
                                        *ngIf="form.controls['opcion1'].hasError('required') && form.controls['opcion1'].touched"
                                        class="text-danger font-14">Debe escribir la opción
                                    </mat-hint>
                                

                                    <mat-radio-button [value]="radios[1].indice">Es
                                        correcta</mat-radio-button>
                                    <mat-form-field>
                                        <textarea matInput placeholder="Opción 2"
                                            [formControl]="form.controls['opcion2']" name="opcion1"></textarea>
                                    </mat-form-field>
                                    <mat-hint
                                        *ngIf="form.controls['opcion2'].hasError('required') && form.controls['opcion2'].touched"
                                        class="text-danger font-14">Debe escribir la opción
                                    </mat-hint>

                                    <mat-radio-button [value]="radios[2].indice">Escorrecta</mat-radio-button>
                                    <mat-form-field>
                                        <textarea matInput placeholder="Opción 3"
                                            [formControl]="form.controls['opcion3']" name="opcion3"></textarea>
                                    </mat-form-field>

                                    <mat-hint
                                        *ngIf="form.controls['opcion3'].hasError('required') && form.controls['opcion3'].touched"
                                        class="text-danger font-14">Debe escribir la opción
                                    </mat-hint>

                                    <mat-radio-button [value]="radios[3].indice">Es correcta</mat-radio-button>
                                    <mat-form-field>
                                        <textarea matInput placeholder="Opción 4"
                                            [formControl]="form.controls['opcion4']" name="opcion4"></textarea>
                                    </mat-form-field>
                                    <mat-hint
                                        *ngIf="form.controls['opcion4'].hasError('required') && form.controls['opcion4'].touched"
                                        class="text-danger font-14">Debe escribir la opción
                                    </mat-hint>


                                </mat-radio-group>


                                <br>
                            <!--{indiceSeleccionado}}-->
                                <br>
    
                                <mat-card-actions>
                                    <button mat-raised-button color="primary" (click)="guardarPregunta()"
                                        type="submit" [disabled]="!form.valid">Agregar pregunta</button>

                                    <button mat-raised-button color="primary" (click)="finalizar" [disabled]="!puedeGuardar" (click)="guardarExamenLectura()">Finalizar
                                        </button>
                                </mat-card-actions>
                                <p><strong>*Nota: </strong> Para cada pregunta nueva no olvide oprimir Agregar pregunta. Al terminar oprima Finalizar para generar el examen </p><br>

                            </div>
                        </form>
                    </div>

                    <!--tERMINA LA PREGUNTA-->


                </div>
            </mat-tab>

            <!--Inicia Tab de modificacion de uin conjunto previo-->
            <!------------------------------------------------------------------------------------------------------------>
            <mat-tab label="Modificar lectura"  disabled>
                <div class="demo-tab-content">
                    <div fxLayout="row wrap">
                      
                        <h4><strong>1. </strong>Seleccione lo que desee modificar</h4><br>
                        <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <mat-select placeholder="Seleccione una opción" [(ngModel)]="miOpcionModificacion"  (selectionChange)="opcionSeleccionada(miOpcionModificacion)">
                                    <mat-option *ngFor="let seleccion of seleccionModificar" [value]="seleccion" >
                                        {{seleccion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                   
                    </div>
                  <!--El contenedor si la opcion a modificar es  el texto de dicho conjunto-->  
                  <div  *ngIf="miOpcionModificacion==='Modificar Lectura'">
                    
                  
                      <quill-editor [styles]="{height: '450px'}" (onFocus)="focus($event)" (onBlur)="blur($event)"
                      (onEditorCreated)=creadoModificar($event) (onContentChanged)="cambiar($event)" theme="snow"
                      ([ngModel])="editor">
                  </quill-editor>
                 
                  
               
                    <button mat-raised-button color="primary" (click)="modificarLectura()">Guardar cambios</button>
                
                  </div>
                  <!--Termina Modificar lectura-->
                  <!--El contenedor si la opcion a modificar es la pregunta seleccionada del dicho conjunto   -->
                  <div  *ngIf="miOpcionModificacion==='Modificar Pregunta'">
                      <h4><strong>2. </strong>Selecciona la Pregunta</h4>

                      <mat-form-field>
                        <mat-select placeholder="Selecciona una pregunta" [(ngModel)]="preguntaActual"  (selectionChange)="modificarPregunta(pregun,i)">
                            <mat-option *ngFor="let pregun of preguntas;let i = index;" [value]="pregun"  (click)="modificarPregunta2(i)">
                                {{pregun.titulo}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!--SE muestra el formulario de la pregunta cuando la pergunta ya ha sido seleccionada-->
                   <div *ngIf="preguntaActual.titulo!=null">
                    <form class="basic-form" [formGroup]="form">
                        <div fxLayout="row wrap">





                            <div fxFlex.gt-md="100" fxFlex="100">
                                <!--El puto titulo-->
                                <p><strong>3. </strong>Modifique lo necesario.</p>
                                <mat-form-field>
                                    <textarea matInput placeholder="Escribir el texto de la pregunta"
                                        cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                                        cdkAutosizeMaxRows="12" [formControl]="form.controls['titulo']" [(ngModel)]="preguntaActual.titulo"
                                        name="titulo" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100"></textarea>
                                </mat-form-field>
                                <mat-hint
                                    *ngIf="form.controls['titulo'].hasError('required') && form.controls['titulo'].touched"
                                    class="text-danger font-14">Debe escribir el texto de la
                                    pregunta </mat-hint>
                            </div>
                            <!--Termina el puto titulo-->

                            <mat-radio-group name="selectedValue" [formControl]="form.controls['selectedValue']"
                                [(ngModel)]="indiceSeleccionado">
                             
                                <mat-radio-button [value]="radios[0].indice" [checked]="preguntaActual.opciones[0].acierto"   >Es correcta</mat-radio-button>
                           
                                    <mat-form-field>
                                        <textarea matInput placeholder="Opción 1"
                                            [formControl]="form.controls['opcion1']" name="opcion1"></textarea>
                                    </mat-form-field>
                              
                                <mat-hint
                                    *ngIf="form.controls['opcion1'].hasError('required') && form.controls['opcion1'].touched"
                                    class="text-danger font-14">Debe escribir la opción
                                </mat-hint>
                            

                                <mat-radio-button    [value]="radios[1].indice" [checked]="preguntaActual.opciones[1].acierto"  >Es
                                    correcta      </mat-radio-button>
                                <mat-form-field>
                                    <textarea matInput placeholder="Opción 2"
                                        [formControl]="form.controls['opcion2']" name="opcion1"></textarea>
                                </mat-form-field>
                                <mat-hint
                                    *ngIf="form.controls['opcion2'].hasError('required') && form.controls['opcion2'].touched"
                                    class="text-danger font-14">Debe escribir la opción
                                </mat-hint>

                                <mat-radio-button      [value]="radios[2].indice" [checked]="preguntaActual.opciones[2].acierto" >Escorrecta</mat-radio-button>
                                <mat-form-field>
                                    <textarea matInput placeholder="Opción 3"
                                        [formControl]="form.controls['opcion3']" name="opcion3"></textarea>
                                </mat-form-field>

                                <mat-hint
                                    *ngIf="form.controls['opcion3'].hasError('required') && form.controls['opcion3'].touched"
                                    class="text-danger font-14">Debe escribir la opción
                                </mat-hint>

                                <mat-radio-button   [value]="radios[3].indice" [checked]="preguntaActual.opciones[3].acierto" >Es correcta</mat-radio-button>
                                <mat-form-field>
                                    <textarea matInput placeholder="Opción 4"
                                        [formControl]="form.controls['opcion4']" name="opcion4"></textarea>
                                </mat-form-field>
                                <mat-hint
                                    *ngIf="form.controls['opcion4'].hasError('required') && form.controls['opcion4'].touched"
                                    class="text-danger font-14">Debe escribir la opción
                                </mat-hint>


                            </mat-radio-group>


                            <br>
                        <!--{indiceSeleccionado}}-->
                            <br>

                            <mat-card-actions>
                                <button mat-raised-button color="primary" (click)="actualizarPregunta()">Actualizar pregunta</button>                
                            </mat-card-actions>

                        </div>
                    </form>
                   </div>

                  </div>
                    <!------------------------------------------------------------------------->
                  <!--El contenedor si la opcion  es agregar una nueva pregunta a dicho conjunto-->
                  <div fxLayout="row" *ngIf="miOpcionModificacion==='Agregar Pregunta'">
                
                   
                     <form class="basic-form" [formGroup]="form">
                        <div fxLayout="row wrap">


                            <div fxFlex.gt-md="100" fxFlex="100">
                                <!--El puto titulo-->
                        
                                <mat-form-field>
                                    <textarea matInput placeholder="Escribir el texto de la pregunta"
                                        cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                                        cdkAutosizeMaxRows="12" [formControl]="form.controls['titulo']"
                                        name="titulo" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100"></textarea>
                                </mat-form-field>
                                <mat-hint
                                    *ngIf="form.controls['titulo'].hasError('required') && form.controls['titulo'].touched"
                                    class="text-danger font-14">Debe escribir el texto de la
                                    pregunta </mat-hint>
                            </div>
                            <!--Termina el puto titulo-->

                            <mat-radio-group name="selectedValue" [formControl]="form.controls['selectedValue']"
                                [(ngModel)]="indiceSeleccionado">
                             
                                <mat-radio-button [value]="radios[0].indice"  >Es correcta</mat-radio-button>
                           
                                    <mat-form-field>
                                        <textarea matInput placeholder="Opción 1"
                                            [formControl]="form.controls['opcion1']" name="opcion1"></textarea>
                                    </mat-form-field>
                              
                                <mat-hint
                                    *ngIf="form.controls['opcion1'].hasError('required') && form.controls['opcion1'].touched"
                                    class="text-danger font-14">Debe escribir la opción
                                </mat-hint>
                            

                                <mat-radio-button [value]="radios[1].indice">Es
                                    correcta</mat-radio-button>
                                <mat-form-field>
                                    <textarea matInput placeholder="Opción 2"
                                        [formControl]="form.controls['opcion2']" name="opcion1"></textarea>
                                </mat-form-field>
                                <mat-hint
                                    *ngIf="form.controls['opcion2'].hasError('required') && form.controls['opcion2'].touched"
                                    class="text-danger font-14">Debe escribir la opción
                                </mat-hint>

                                <mat-radio-button [value]="radios[2].indice">Escorrecta</mat-radio-button>
                                <mat-form-field>
                                    <textarea matInput placeholder="Opción 3"
                                        [formControl]="form.controls['opcion3']" name="opcion3"></textarea>
                                </mat-form-field>

                                <mat-hint
                                    *ngIf="form.controls['opcion3'].hasError('required') && form.controls['opcion3'].touched"
                                    class="text-danger font-14">Debe escribir la opción
                                </mat-hint>

                                <mat-radio-button [value]="radios[3].indice">Es correcta</mat-radio-button>
                                <mat-form-field>
                                    <textarea matInput placeholder="Opción 4"
                                        [formControl]="form.controls['opcion4']" name="opcion4"></textarea>
                                </mat-form-field>
                                <mat-hint
                                    *ngIf="form.controls['opcion4'].hasError('required') && form.controls['opcion4'].touched"
                                    class="text-danger font-14">Debe escribir la opción
                                </mat-hint>


                            </mat-radio-group>

                        <!--{indiceSeleccionado}}-->
                            <br>

                            <mat-card-actions>
                                <button mat-raised-button color="primary" (click)="guardarPreguntaAlConjunto()"
                                    type="submit" [disabled]="!form.valid">Agregar pregunta</button>
                                    <button mat-raised-button color="primary" (click)="regresar()">Regresar</button>     

                        
                            </mat-card-actions>
                            <p><strong>*Nota: </strong> Para cada pregunta nueva no olvide oprimir Agregar pregunta. Al terminar oprima Finalizar para generar el examen </p><br>

                        </div>
                    </form>


                </div>
               
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>